@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: black;
  color: white;
}
* {
  font-family: roboto;
  margin: 0;
  padding: 0;
}

.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
}

.home ul li {
  display: flex;
  width: 14px;
  gap: 15px;
  list-style: none;
  padding: 10px;
  font-weight: bold;
}
.home {
  margin: 5px 0;
}
.library {
  min-height: 80vh;
  position: relative;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 14px;
  align-items: center;
  font-size: 13px;
}
.heading img {
  width: 30px;
}
.songslist{ height:50vh;
  overflow-y: auto;


}

.songslist ul{
  padding:0px 15px;
  }

.songslist ul li {
  display: flex;
list-style: decimal;
font-weight: 400;
gap:10px;
cursor: pointer;
padding:12px 10px;
border: 1px solid white;
border-radius: 5px;
/* transition: transform 0.3s ease-in-out; */
margin:10px 0;
font-size: 14px;
justify-content: space-between;
}
.songslist ul li:hover {
  background-color: #252525;
  /* transform: scale(1.1); */
  transition: transform 0.3s ease-in-out;
}

.songslist .info{
  width:344px;
font-size:13px;}
.playnow{
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 10px; padding: 10px;
  
}

.footer {
  display: flex;
  font-size: 10px;
  color: gray;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
}

.footer a {
  color: gray;
}

.right {
  margin: 16px 0px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px 0px 0px;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 15px;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 3px 4px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
    padding: 3px 12px;
}



.spotifyPlaylist {
  padding: 6px;
  
}
.cardcontainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
  max-height: 68vh;
  overflow-y: scroll;
}

.card {
  width: 200px;

  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}
.card * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  position: absolute;
  top: 150px;
  left: 150px;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}
.play:hover {
  fill: #4caf50;
  opacity: 1;
  transform: translateY(-10px);
}

.playbar {
  position: fixed;
  bottom: 30;
  width: 71%;
  height: 39px;
  background-color: #535751;
  color: #fff;
  /* text-align: center; */
  padding: 5px 22px 0px 0px;
  
  /* align-items: center */
;
  justify-content: center;
  border-radius: 10px;
} 

  

  .songsbuttons{
    display: flex;
    justify-content: center;
gap:12px;  
filter:invert(1);
height: 70%;
}


#play:hover{
  transform: scale(1.1);
  cursor: pointer;
  }

  #previos:hover{
    transform: scale(1.1);
    cursor: pointer;
    }

  #next:hover{
    transform:scale(1.1);
    cursor: pointer;
      }

.songsbuttons > * {
    cursor: pointer;
    /* transition: transform 0.3s ease-in-out; */
}


.seekbar{
  height:0px;
  width: 99%;
  
  background-color: #f0ecec;
  border:2px solid rgb(245, 250, 245);
  position: absolute;
  bottom: 0;
  margin:5px;
  border-radius: 10px;
}

.circle{
  width:15px;
  height:15px;
  border-radius: 13px;
  background-color:rgb(248, 245, 245);
  position:relative; 
  bottom: 6px;
  left:-1px;
transition:left 0.6s;
}

.songsbutoons{
  cursor: pointer;

}
.playbartop{
  display: flex;
  justify-content: space-between;
   padding: 0px 10px; 
}

